.navbg{
    background-color: rgb(17, 69, 69);
}
a.nav-link:hover{
    color: rgb(154, 140, 10) !important;
}
button.btn1{
    border: solid;
    border-color: white;
    background-color: transparent;
    width: 130px;
    padding: 10px;
    border-width: thin;
    color: white !important;
    text-decoration: none !important;
}

button.btn1:hover{
    background-color: white !important;
    color: rgb(154, 140, 10) !important;

}

.sec1{
    background-color: rgb(17, 69, 69);
}
.box1{
    min-height: 400px;
    padding: 15% 0%;
    color: white;
    text-align: left;
}
.head1{
    margin-top: 20%;
    font-weight: lighter;
    font-family: "Footlight MT light";
}
.head2{
    /* margin-top: 20%; */
    font-size: 60px;
    font-family: "Footlight MT light";
    font-weight: lighter;
    letter-spacing: 5px;
    line-height: 80px;
}
.para1{
    font-size: 25px;
    letter-spacing: 4px;
    font-family: "Footlight MT light";
}
.btn2{
    background-color: orange;
    font-family: "Footlight MT light";
    border:none;
    border-radius: 25px;
    width: 150px;
    padding: 8px;
}
.link2{
    color: white;
    text-decoration: none;
}
.link2:hover{
    color: rgb(88, 69, 23);
    text-decoration: none;
}
.img1{
    /* height: 350px; */
    width: 80%;
    padding: 50px;
} 
.icon1{
    font-size: 35px;
    color:white;
}
.box3{
    text-align: center;
}
.inbox{
    min-height: 500px;
    padding-bottom: 5%;
}
.b1{
    padding: 10px;
}

